body {
  background-color: #033F73;
  margin: 0;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 27px;
  font-family: 'Slabo 27px', serif;
}